html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  font-family: 'Crimson Text', serif;
  font-size: 20px;
}

body {
  margin: 0 auto;
  width: 800px;
}

p {
  margin: 0;
}

p:not(:first-of-type) {
  margin-top: 5px;
}



.nav-bar {
  position: relative;
  height: 50px;
  overflow: hidden;
  border-bottom: 2px solid black;
}

.nav-links {
  width: 100%;
  top: 22px;
  position: absolute;
}


.nav-links a {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: black;
  text-decoration: none;
}

header a:hover {
  text-decoration: line-through;
}



.book-list {
  margin-top: 15px;
}

.book-item {
  display: flex;
  margin-bottom: 15px;
  padding: 15px;
}

.book-item:nth-child(even) {
  background-color: #001F3F;
  color: hsla(210, 100%, 75%, 1.0);
}

.book-item:nth-child(even) .image {
  border: 3px solid white;
}

.book-item .image {
  width: 150px;
}

.book-item .meta {
  margin: 0 30px 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.book-item .meta div {
  font-family: 'Julius Sans One', sans-serif;
}

.book-item .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}