// header
.nav-bar {
  position: relative;
  height: 50px;
  overflow: hidden;
  border-bottom: 2px solid black;
}

.nav-links {
  width: 100%;
  top: 22px;
  position: absolute;

  > a {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: black;
    text-decoration: none;

    &:hover {
      text-decoration: line-through;
    }
  }
}

// main section
.book-list {
  margin-top: 15px;
}

.book-item {
  display: flex;
  margin-bottom: 15px;
  padding: 15px;

  &:nth-child(2n) {
    background-color: #001F3F;
    color: hsla(210, 100%, 75%, 1.0);
  }

  &:nth-child(even) .image {
    border: 3px solid white;
  }

  &:nth-child(4n) {
    background-color: #FFDC00;
    color: hsla(52, 100%, 20%, 1.0);
  }

  &:nth-child(6n) {
    background-color: #FF4136;
    color: hsla(3, 100%, 25%, 1.0);
  }

  // ??? more ???
  /* background-color: #111;
  color: #ddd; */
  /* background-color: #FF4136;
  color: hsla(3, 100%, 25%, 1.0); */

  > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  > .image {
    width: 150px;
    height: 100%;
  }

  > .meta {
    margin: 0 30px 0 15px;
  }

  > .meta .name, .author {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 25px;
  }
}