html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  font-family: 'Crimson Text', serif;
  font-size: 20px;
}

body {
  margin: 0 auto;
  width: 800px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}

p:not(:first-of-type) {
  margin-top: 5px;
}