@media (max-width: 820px) {
  body {
    width: 100%;
  }

  .nav-links {
    padding: 0 10px;
  }

  .book-list {
    margin-top: 0;
  }
}

@media (max-width: 700px) {
  .book-item {
    display: block;

    > .image, .meta {
      display: inline-block;
    }
    > .image {
      width: 120px;
    }
    > .meta {
      vertical-align: top;
      max-width: 50%;
      margin-right: 15px;
    }
  }
}